.section-product-detail {
  background-color: #f5f5f3;
  padding: 60px 0px;
}

.pd__left-container {
}

.pd__side-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pd__side-list-item {
  border: 2px solid #d5d9d9;
  border-radius: 4px;
  padding-top: 86%;
  position: relative;
  cursor: pointer;
  transition: all linear 0.2s;
}

.pd__side-list-item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(-4px);
}

.pd__side-list-item--active {
  border: 2px solid var(--background-color);
}

.pd__side-list-item-img {
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 8px;
  right: 10px;
  left: 10px;
  bottom: 8px;
}

.pd__main-img-container-ratio {
  padding-top: 150%;
  position: relative;
}

.pd__main-img-container-wrapper {
  position: absolute;
  border: 2px solid var(--background-color);
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd__main-img {
  height: calc(100% - 60px);
  width: calc(100% - 40px);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: all linear 0.2s;
}

.pd__main-img:hover {
  transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.pd__right-container {
}

.pd__heading {
  font-size: 2.8rem;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 8px;
  color: var(--text-color);
}

.pd__version {
  font-size: 2.8rem;
  color: #565959;
}

.pd__author-info {
  font-size: 1.4rem;
  line-height: 20px;
  color: var(--text-color);
  margin-bottom: 16px;
}

.pd__author-name {
  color: #007185;
}

.pd__author-title {
  color: #565959;
}

.pd__sub-heading {
  color: #686363;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 24px;
}

.pd__option-heading {
  display: flex;
  justify-content: space-between;
  color: #686363;
  margin-bottom: 12px;
}

.pd__option-heading-left {
  font-size: 1.4rem;
}

.pd__option-heading-right {
  font-size: 1.4rem;
  text-decoration: underline;
  color: var(--text-color);
}

.pd__option-heading-right:hover {
  color: var(--secondary-color);
}

.pd__option-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pd__option-item {
  border: 2px solid #f6f6f6;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 8px;
  border-color: #d5d9d9;
  border-radius: 3px;
  cursor: pointer;
  flex-basis: 130px;
}

.pd__option-item:hover {
  background-color: #f7fafa;
}

.pd__option-item:not(:last-child) {
  margin-right: 8px;
}

.pd__option-item--active {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-weight: 700;
}

.pd__option-item-title {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: #0f1111;
}

.pd__option-item--active:hover {
  background-color: transparent;
}

.pd__option-item-title-icon {
}

.pd__option-item-price {
  font-size: 1.4rem;
  color: #565959;
}

.pd__option-item--active .pd__option-item-price {
  color: var(--secondary-color);
}

.pd__option-item:hover .pd__option-item-price {
  color: var(--secondary-color);
}

.pd__include-tax-text {
  font-size: 1.2rem;
  margin: 0;
  color: #565959;
  margin-bottom: 24px;
}

.pd__spec-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.pd__spec-item {
  text-align: center;
}

.pd__spec-item:not(:last-child) {
  margin-right: 36px;
}

.pd__spec-item-title {
  margin: 0;
  margin-bottom: 12px;
  color: #313333;
}

.pd__spec-item-icon {
  margin-bottom: 4px;
  display: block;
}

.pd__spec-item-icon svg {
  height: 2.4rem;
}

.pd__spec-item-icon path {
  fill: #0f1111;
}

.pd__spec-item-detail {
  color: #0f1111;
  font-weight: 700;
  margin: 0;
}

.pd__btn-add {
  padding: 12px 0;
  font-size: 1.8rem;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  outline: none;
  min-width: 200px;
  cursor: pointer;
}

.pd__btn-add:hover {
  opacity: 0.8;
}

.pd__or-text {
  color: #686363;
  font-size: 1.4rem;
  margin: 0 16px;
}

.pd__btn-trial {
  padding: 12px 0;
  font-size: 1.8rem;
  background-color: var(--white-color);
  color: #1e1e1e;
  border-radius: 8px;
  border: none;
  outline: none;
  min-width: 200px;
  cursor: pointer;
}

.pd__btn-trial:hover {
  opacity: 0.8;
}

.pd__detail-container {
}

.pd__detail-heading-wrapper {
  margin-top: 24px;
  margin-bottom: 18px;
}

.pd__detail-heading-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: relative;
  border-bottom: 3px solid #e8e8e8;
}

.pd__detail-heading-item {
  font-size: 1.4rem;
  line-height: 3.2;
  position: relative;
  cursor: pointer;
  color: #787373;
}

.pd__detail-heading-item:hover {
  color: #1e1e1e;
}

.pd__detail-heading-item:not(:last-child) {
  margin-right: 16px;
}

.pd__detail-heading-item--active {
  color: #1e1e1e;
}

.pd__detail-heading-item--active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1e1e1e;
}

.pd__detail-body {
}

.pd__detail-body-p {
  font-size: 1.4rem;
  text-align: justify;
  margin: 0;
  margin-bottom: 16px;
}
