.breadcumb {
  margin-top: calc(var(--header-height));
  height: var(--breadcumb-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(104, 99, 99, 0.5);
  background-color: #f5f5f3;
}

.breadcumb-wrapper {
}

.breadcumb__title {
  font-size: 1.6rem;
  color: #787373;
  text-decoration: none;
}

.breadcumb__title:hover {
  color: var(--background-color);
}

.breadcumb__title--active {
  color: #1e1e1e;
  font-weight: bold;
}

.breadcumb__seperator {
  font-size: 1.8rem;
  color: #787373;
  padding: 6px;
}

/* Breadcumb Responsive */
/* Mobile */
@media (max-width: 739px) {
  .breadcumb-wrapper {
    padding: 0 16px;
  }
}
