/**
 * RMIT University Vietnam
 * Course: COSC2430 Web Programming
 * Semester: 2023A
 * Assessment: Assignment 1
 * Author: Ngo Ngoc Thinh
 * ID: s3879364
 * Acknowledgement:
 *   1. https://fullstack.edu.vn/
 *   2. https://gacxepbookstore.vn/
 *   3. https://www.figma.com/community/file/1187662275043405075
 *   4. https://www.figma.com/community/file/1165460163859589084
 */

.breadcumb {
  height: var(--breadcumb-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(104, 99, 99, 0.5);
  background-color: #f5f5f3;
}

.breadcumb-wrapper {
}

.breadcumb__title {
  font-size: 1.6rem;
  color: #787373;
  text-decoration: none;
}

.breadcumb__title:hover {
  color: var(--background-color);
}

.breadcumb__title--active {
  color: #1e1e1e;
  font-weight: bold;
}

.breadcumb__seperator {
  font-size: 1.8rem;
  color: #787373;
  padding: 6px;
}

/* Breadcumb Responsive */
/* Mobile */
@media (max-width: 739px) {
  :root {
    --breadcumb-height: auto;
  }
  .breadcumb-wrapper {
    padding: 8px 16px 0;
  }
  .breadcumb__title {
    font-size: 1.3rem;
  }
  .breadcumb__seperator {
    font-size: 1.5rem;
  }
  .breadcumb__title {
    margin-bottom: 8px;
    display: inline-block;
  }
}
