/**
 * RMIT University Vietnam
 * Course: COSC2430 Web Programming
 * Semester: 2023A
 * Assessment: Assignment 1
 * Author: Ngo Ngoc Thinh
 * ID: s3879364
 * Acknowledgement:
 *   1. https://fullstack.edu.vn/
 *   2. https://gacxepbookstore.vn/
 *   3. https://www.figma.com/community/file/1187662275043405075
 *   4. https://www.figma.com/community/file/1165460163859589084
 */

.btn-go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  background: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
  z-index: 1000;
  transition: all 0.5s linear;
}

.btn-go-top--hide {
  display: none;
}

.btn-go-top:hover {
  opacity: 0.8;
}

.btn-go-top svg {
  height: 3rem;
  width: 3rem;
}

.btn-go-top path {
  fill: var(--background-color);
}

/* Repsonsive */
@media (max-width: 739px) {
  .btn-go-top {
    bottom: 10px;
    right: 10px;
  }
}
