.footer-wrapper {
  background-color: var(--background-color);
  padding: 84px 0;
}

.footer__connection-container {
}

.footer__logo-link {
}

.footer__logo-img {
  height: 40px;
}

.footer__apps-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-top: 16px;
}

.footer__app-item {
}

.footer__app-item-link {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  border: 1px solid var(--primary-color);
}

.footer__app-item-link:hover {
  background-color: var(--primary-color);
}

.footer__app-item:not(:last-child) .footer__app-item-link {
  margin-right: 10px;
}

.footer__app-item-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__app-item-icon svg {
  height: 2.4rem;
}

.footer__app-item-icon path {
  fill: var(--primary-color);
}

.footer__app-item-link:hover .footer__app-item-icon path {
  fill: var(--background-color);
}

.footer__list-container {
}

.footer__list-heading {
  color: var(--white-color);
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__list-item {
}

.footer__list-item-link {
  color: #b4c7e7;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 300;
  line-height: 2;
}

.footer__list-item-link:hover {
  color: var(--primary-color);
}

.footer__contact-container {
}

.footer__contact-heading {
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  color: var(--white-color);
  margin-bottom: 30px;
  font-family: 'Cardo', serif;
}

.footer__contact-field {
  color: var(--white-color);
  font-size: 1.8rem;
  line-height: 2;
  margin: 0;
}

.footer__contact-field:not(:last-child) {
  margin-bottom: 18px;
}

.footer__contact-detail {
  font-size: 1.8rem;
  color: #b4c7e7;
}

.footer__copy-right {
  background-color: #495057;
  padding: 16px;
  font-size: 1.6rem;
  color: var(--white-color);
  text-align: center;
  font-weight: 300;
}

.footer__copy-right-link {
  color: var(--white-color);
  font-weight: 500;
}

/* Responsive */
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .footer_right-container {
    margin-top: 48px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .footer__connection-container {
    text-align: center;
    margin-bottom: 56px;
  }
  .footer__apps-list {
    justify-content: center;
  }
  .footer__list-container {
    text-align: center;
    margin-bottom: 56px;
  }
  .footer__list-heading {
    margin-bottom: 24px;
  }
  .footer__list-item {
    line-height: 5rem;
  }
  .footer__contact-container {
    text-align: center;
  }
}
