/* Header */
.header {
  background-color: var(--background-color);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.header-wrapper {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-img {
  height: 40px;
}

.header__connection-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__connection-item {
}

.header__connection-item-link {
  text-decoration: none;
}

.header__connection-item-icon {
}

.header__connection-item:first-child .header__connection-item-icon {
  margin-left: 16px;
}

.header__connection-item-icon-svg {
  height: 24px;
  fill: var(--white-color);
}

.header__connection-item-icon-svg:hover {
  fill: var(--primary-color);
}

.header-left {
  display: flex;
  height: 100%;
}

.header__nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__nav-item {
}

.header__nav-item-link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
  padding: 0 16px;
}

.header__nav-item-link:hover {
  opacity: 0.8;
}

.header__nav-item--active .header__nav-item-link {
  color: var(--primary-color);
}

.header__nav-item-icon {
}

.header__nav-item-icon-svg {
  height: 12px;
  fill: var(--white-color);
  margin-left: 4px;
}

.header__shopping-cart-link {
  display: block;
  text-decoration: none;
  position: relative;
}

.header__mobile-menu-icon {
  display: inline-flex;
  height: 100%;
  align-items: center;
  margin: 0 16px;
  cursor: pointer;
  display: none;
}

.header__mobile-menu-icon svg {
  height: 2.4rem;
}

.header__mobile-menu-icon path {
  fill: var(--white-color);
}

.header__mobile-menu-checkbox {
}

.header__shopping-cart-icon {
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.header__shopping-cart-icon::after {
  content: '3';
  position: absolute;
  height: 20px;
  width: 24px;
  right: 10px;
  top: 28px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1.4rem;
  font-style: normal;
  border-radius: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--background-color);
}

.header__shopping-cart-icon-svg {
  height: 18px;
  fill: var(--white-color);
}

.header__shopping-cart-link:hover .header__shopping-cart-icon-svg {
  fill: var(--primary-color);
}

.header__shopping-cart-container {
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  right: 0;
  top: calc(var(--header-height) - 20px);
  min-width: 360px;
  border: 3px solid var(--primary-color);
  display: none;
}

.header__shopping-cart-link:hover .header__shopping-cart-container {
  display: block;
}

.header__shopping-cart-container::before {
  content: '';
  position: absolute;
  top: -26px;
  right: 18px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent var(--primary-color) transparent;
}

.header__shopping-cart-container::after {
  content: '';
  width: 50px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: -22px;
  right: 5px;
}

.header__shopping-cart-heading {
  color: #333;
  font-size: 1.6rem;
  text-align: center;
  padding: 12px 16px;
  border-bottom: 3px solid var(--primary-color);
}

.header__shopping-cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__shopping-cart-item {
}

.header__shopping-cart-item-link {
  text-decoration: none;
  display: flex;
  color: #333;
  align-items: center;
}

.header__shopping-cart-item-link:hover {
  background-color: #f8f8f8;
}

.header__shopping-cart-item-img {
  width: 50px;
  height: 50px;
  background-image: url('/assets/imgs/books/ai-deep-learning-practitioners.jpg');
  background-position: center;
  background-size: cover;
}

.header__shopping-cart-item-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
  flex-grow: 1;
  padding: 8px 0;
}

.header__shopping-cart-item-title {
  font-size: 1.6rem;
}

.header__shopping-cart-item-price-wrapper {
  margin-top: 8px;
}

.header__shopping-cart-item-price {
  font-size: 1.4rem;
}

.header__shopping-cart-item-multiply {
  font-size: 1.4rem;
}

.header__shopping-cart-item-quantity {
  font-size: 1.4rem;
}

.header__shopping-cart-item-delete {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.header__shopping-cart-item-delete:hover {
  color: orange;
}

/* Header Responsive */
/* Mobile */
@media (max-width: 739px) {
  :root {
    --header-height: 60px;
  }
  .header__logo-img {
    margin-left: 16px;
    height: 3.2rem;
  }
  .header__nav-list {
    position: absolute;
    background-color: var(--background-color);
    top: var(--header-height);
    left: 0;
    right: 0;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    display: none;
  }
  .header__nav-item {
    padding: 16px;
  }
  .header__nav-item-link {
    padding: 0;
  }
  .header__mobile-menu-icon {
    display: inline-flex;
  }
}
